.taskboard-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.heading-title{
  font-size: 1.5rem;
  font-weight: 700;
  color: #006838;
}
.selection select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid gray;
  background-color: #fff;
  font-size: 0.9rem;
  color: #333;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.selection select:hover {
  border-color: #999;
}
.selection select:focus {
  border-color: #006838; 
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.15);
}
.taskboard-report-card1 {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  background-color: #fff;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid grey;
  width: 100%;
  margin-bottom: 10px;
}
.taskboard-report-card1 img {
  width: 170px;
  height: 110px;
  object-fit: cover;
  border-radius: 10px;
}
.report-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: left;
  width: 100%;
}
.incident-info{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.info-left{
  display: flex;
  gap: 10px;
  align-items: center;
}
.status {
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  width: fit-content;
}
.status.pending {
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
}
.status.completed {
  background-color: rgba(0, 128, 0, 0.1);
  color: green;
}
.status.in-progress {
  background-color: rgba(0, 0, 255, 0.1);
  color: blue;
}
.report-content .category{
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  background: rgba(71, 91, 232, 0.1); 
  color: var(--primary-color);
  width: fit-content;
}
.report-content h4 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #222;
}

.report-content .desc {
  font-size: 0.95rem;
  color: #555;
}

.report-content .meta {
  font-size: 0.85rem;
  color: #777;
}

.report-content .date {
  font-size: 0.8rem;
  color: #aaa;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #006838;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.pagination button:hover {
  opacity: 0.9;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
.no-incidents {
  width: 100%;
  padding: 30px;
  border: 1px dashed #ccc;
  border-radius: 12px;
  text-align: center;
  background: #fafafa;
  color: #777;
}