.content-area-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}
.area-top-title{
    color: var(--text-color-inverted);
}
.area-top-1{
    display: flex;
    align-items: center;
    column-gap: 6px;
}
.area-top-2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
