.reporting{
  padding: 1rem 2rem;
}
.reporting-heading h2{
  font-size: 1.5rem;
  font-weight: 700;
  color: #006838;
}
.reporting-heading p{
  font-size: 0.8rem;
  color: #333;
}
.reporting-card{
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-top: 2rem;
}